.slider {
  max-width: 400px;
  margin: 0 auto;
}

.slider__input {
  width: 100%;
}

.slider__image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}








#box{
    pointer-events: none;
  width: 50px;
  height: 50px;
  background: red;
  z-index: 0;
}